nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 70%;
    background-color: #1B1B25;
    margin: 1.5rem;
    border-radius: 999rem;
    padding: 2rem 0 0.5rem 0;
}

#nav_logo {
    width: 50%;
}

.nav_button {
    width: 20%;
    min-width: 20px;
    transition: all .2s ease-in-out;
}

.nav_button:hover {
    transform: scale(1.3);
}

.nav_button svg {
    width: 100%;
    fill: #FFFFFF99;
}

.nav_button:hover > svg{
    fill: #00FFE7;
}

#user {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #0E0D11;
    width: 80%;
    height: 25%;
    border-radius: 1000px;
    padding: 0.6rem 0;
}

#user_image {
    width: 80%;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
}

#user_image:hover {
    border: 2px #00FFE7 solid;
}

#line {
    width: 40%;
    stroke: #8e8b9c;
}