#root {
	height: 100vh;
	width: 100vw;
	max-width: 1920px;
	max-height: 1080px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

h1,
h2,
h3,
h4 {
	font-family: "Dirtyline36daysoftype2022";
	color: #ffffff;
	margin: 0;
}

h1 {
	font-size: 5.5rem;
}

h2 {
	font-size: 2.75rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 1.75rem;
}

p {
	font-family: "Poppins-Regular";
	color: #ffffff
}

a {
	text-decoration: none;
}

#container {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 1.5rem;
}

.pill_button {
	display: flex;
	align-items: center;
	border-radius: 999rem;
	font-family: "Poppins-Medium";
	font-size: 1.1rem;
	padding: 1rem 3rem;
	border: none;
}

.pill_button svg {
	height: 0.65rem;
	margin-left: 0.5rem;
}

#button_connect {
	position: absolute;
	top: 0;
	right: 0;
	color: #ffffff;
	background-color: #1B1B25;
	margin: 2rem;
}

#button_connect svg {
	fill: #ffffff;
}

.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 1.5rem;
	height: 100%;
	max-width: 9rem;
}


.right {
	position: relative;
	flex: 9;
	background-image: url("assets/img/bg_4.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 4rem;
}

#corner_radius_top_left {
	position: absolute;
	left: 0;
	bottom: 20rem;
	height: 4rem;
	width: 4rem;
	background: radial-gradient(circle at 100% 0%, transparent 4rem, var(--black) 4rem);
}

.right #bottom_left {
	position: absolute;
	order: 3;
	background-color: var(--black);
	height: 20rem;
	width: 20rem;
	border-radius: 0 4rem 0 4rem;
	bottom: 0;
	left: 0;
	padding: 1.5rem 1.5rem 0 0;

	#bottom_left_content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		height: 100%;
		width: 100%;
		background-color: var(--dark-gray);
		border-radius: 4rem;
		padding: 2rem;

		#corner_radius_top_left_small {
			position: absolute;
			top: 1.5rem;
			right: 8rem;
			height: 2rem;
			width: 2rem;
			background: radial-gradient(circle at 0% 100%, transparent 2rem, var(--black) 2rem);
		}

		#corner_radius_bottom_right_small {
			position: absolute;
			top: 8rem;
			right: 1.5rem;
			height: 2rem;
			width: 2rem;
			background: radial-gradient(circle at 0% 100%, transparent 2rem, var(--black) 2rem);
		}
	}
}

#button_smiley {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	background-color: var(--black);
	width: 8rem;
	height: 8rem;
	border-radius: 0 4rem 0 4rem;

	button {
		background-color: var(--accent-color);
		width: 5rem;
		height: 5rem;
		border-radius: 100%;
		border: none;
		padding: 0.5rem;
		box-shadow: 0px 0px 28px var(--accent-color);

		svg path {
			width: 100%;
			height: 100%;
			fill: var(--black);
		}
	}
}

.right #corner_radius_bottom_right {
	position: absolute;
	left: 20rem;
	bottom: 0;
	height: 4rem;
	width: 4rem;
	background: radial-gradient(circle at 100% 0%, transparent 4rem, var(--black) 4rem);
}

.left #bottom {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	svg {
		width: 1.875rem;
		fill: var(--accent-color);
		margin-bottom: 1rem;
	}

	.button_lang {
		background-color: var(--black);
		color: var(--white);
		width: 3.25rem;
		height: 3.25rem;
		border-radius: 50%;
		border: none;

		&:hover {
			cursor: pointer;
			background-color: var(--dark-gray);
		}

		&.is_active {
			background-color: var(--dark-gray);
		}
	}
}