html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Dirtyline36daysoftype2022";
  src: url("assets/fonts/Dirtyline36daysoftype2022.woff2") format("woff2"),
       url("assets/fonts/Dirtyline36daysoftype2022.woff") format("woff"),
       url("assets/fonts/Dirtyline36daysoftype2022.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("assets/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("assets/fonts/Poppins-Medium.ttf") format("truetype");
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--black);

  --white: #FFFFFF;
  --white-transparent: #FFFFFF52;
  --black: #0E0D11;
  --black-transparent: #0E0D11DD;
  --dark-gray-transparent: #1B1B25EE;
  --light-gray: #8E8B9C;
  --dark-gray: #1B1B25;
  --accent-color: #00FFE7;
  --accent-color-transparent: #00FFE752;

  --corner-radius: 6.5rem;
}
